<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muralha Restaurante</title>
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgWT77_yzvLO8My8aMQNq8L7pgqtioT5_2gYKB3uOXL1hQeDiy1vPYLmuP&s=10">
    <link rel="stylesheet" href="../static/frontend.css">

</head>
<body class="body">

    <header>
        <div class="p1">
            <ul>
                <link><a href="/cardapio" class="link" style="margin-right: 15px;">CARDÁPIO</a></link>
                <link><a href="/galeria" class="link" style="margin-right: 15px;">GALERIA</a></link>
                <link><a href="/localização" class="link" style="margin-right: 15px;">LOCALIZAÇÃO</a></link>
            </ul>
        </div>

        <div class="h1">
            <h1 class="text1">Muralha Restaurante</h1>
        </div>

    </header>

   
    <main class="pagina1">
        
    </main>

    <footer>
        <nav>
            <!-- <ul style="text-align: center;">
                <li class="link2"><a href="/home">Home</a></li>
                <li class="link2"><a href="/filmes">Filmes</a></li>
                <li class="link2"><a href="/perfil">Perfil</a></li>
            </ul> -->
            <!-- <p style="color: aliceblue; text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">Desenvolvido por &copy;wangling</p> -->
        </nav>
    </footer>
    
    
</body>
</html>