*{
    margin: 0;
}


.body{
    background-color: rgb(57, 7, 7);
    background-image: url('/static/background\ 3.png');
    background-color: rgb(29, 2, 2);
    background-size: cover;
    background-repeat: no-repeat;
}

.p1{
    font-size: 18px;
    padding: 15px;
    background-color: rgba(210, 194, 68, 0.853);
    text-decoration: none;
    font-family: Impact, fantasy;
}

.h1{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/static/imagem1.png'); */
    /* background-size: cover;
    background-color: rgb(57, 7, 7); */
    text-align: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    height: 50px;
    color: rgb(57, 7, 7);
    padding-top: 10px;
    text-shadow: 4px 4px 2px  rgb(183, 175, 116);
}

.menuex1{
    display: block;
    text-align: center;
    padding: 25px;
    margin-left: 300px;
}

.menu-card {
    width: 500px;
    margin: 30px auto;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    width: 100%;
    border-radius: 12px;
}

.menu-card:hover {
    transform: scale(1.03);
}

.text1{
    padding-right: 50px;
}